
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*-----navbar-----*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: white;
}

/*-----menu btn-----*/
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*-----home section-----*/
.home {
    display: flex;
    background: url(https://images4.alphacoders.com/876/876094.png); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    min-height: 700px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto;
}

.home .home-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-text-content h1 {
    display: block;
    width: fit-content;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    text-align: center;
    z-index: 1;
}

.home-text-content span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

/*responsive media query*/
@media (max-width:850px){

}

@media (max-width:850px){

}

@media (max-width: 800px) {
    .max-width {
        padding: 0 50px;
    }
    .home-text-content h1 {
        font-size: 30px;
    }
    /*-----menu btn-----*/
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        /*font-awesome-cruz*/
        content: "\f00d"
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0; 
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .none {
        display: none;
    }
  /*
    .home-text-content{
        display: none!important;
    }
    */
}
/*end-responsive media query*/


/*keyframes*/
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}
/*end-keyframes*/